.navbar {
      height: 10vh;
      display: flex;
      justify-content: space-between;
      top: sticky;
}

.n-left {
      flex: 1;
      align-items: center;
      display: flex;
      gap: 2rem;
}

.name {
      font-size: 1.3rem;
      font-weight: bold;
}

.right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-weight: 400;

}

.list {
      flex: 8;
      text-decoration: none;

}

.list>ul {
      display: flex;
      gap: 2rem;
      margin-right: 4rem;
      cursor: pointer;
}

.list>ul>li:hover {
      cursor: pointer;
      color: var(--orange);
}

.r-button {
      flex: 2;
}

.link:hover {
      color: #d6720e;
}

.active-link {
      text-decoration: none;
      margin-left: 15px;
      font-size: 30px;
      transition: color ease-in-out 400ms;
      color: #d6720e;
}

@media screen and (max-width:480px) {
      .list {
            display: none;
      }
}