.about {
      margin-top: -4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


}

.title {

      color: var(--black);
      font-size: 2rem;
      font-weight: bold;
}

.text {
      font-size: 24px;
      font-weight: bold;
      color: var(--gray);
}